.my-extension-field {
}
.my-extension-field-focused {
    background: yellow !important;
    animation: blink-animation 1s linear infinite;
}
@keyframes blink-animation {
    50% {
        background: transparent;
    }
}

.my-extension-true {
    background: #afa;
}
.my-extension-false {
    background: #faa;
}

.my-extension-outline {
    outline: 3px solid #faa;
    background: #fee;
}

.my-extension-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999;
    color: #f55;
    font: 2rem Verdana, sans-serif;
    padding: 1rem 2rem;
    background: white;
    border: 5px solid #faa;
    border-top-width: 0;
}

.my-extension-panel {
    position: fixed;
    z-index: 999999999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.my-extension-option-button {
    margin: 20px;
    padding: 0;
    width: 100px;
    height: 100px;
    border: 7px solid #888;
    border-radius: 50%;
    background: #eee;
    color: #888;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    box-shadow: none;
    transition: all .1s ease-in;
    box-shadow: rgba(0,0,0,0.7) 0 12px 15px 0px;
}
.my-extension-option-button:hover {
    cursor: pointer;
}
.my-extension-option-button:focus {
    outline: none;
}
.my-extension-option-button:before {
    display: block;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    color: #222;
    background: #eee;
    width: 25px;
    height: 25px;
    font: 18px monospace;
    border-radius: 5px;
    box-shadow: 0 2px 0px 1px #aaa;
}
.my-extension-option-button-pressed {
    transform: translateY(10px);
    border-color: #393;
    color: #393;
    background: #afa;
    box-shadow: 0 0 5px 0px #555;
}
.my-extension-option-button-false {
    background: #faa;
}
.my-extension-option-button-false.my-extension-option-button-pressed {
    border-color: #f33 !important;
    color: #f33 !important;
    background: #faa !important;
}
.my-extension-option-the:before {
    content: 'z';
}
.my-extension-option-a:before {
    content: 'x';
}
.my-extension-option-an:before {
    content: 'c';
}

.my-extension-exit-btn {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background: black;
}