.my-extension-field {
}
.my-extension-field-focused {
    background: yellow;
    animation: blink-animation 1s linear infinite;
}
@keyframes blink-animation {
    50% {
        color: transparent;
    }
}

.my-extension-true {
    background: #afa;
}
.my-extension-false {
    background: #faa;
}

.my-extension-outline {
    outline: 3px solid #faa;
    background: #fee;
}

.my-extension-message {
    position: fixed;
    color: #F00;
    opacity: 0.6;
    font: 2rem Verdana, sans-serif;
    top: 1rem;
    left: 1rem;
}